# .coveragerc to control coverage files
[run]
source = flamingpy


[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    if __name__ == .__main__.:
    pragma: no cover
    plt.show()
    except ImportError:
    raise NotImplementedError
    raise ValueError
    raise Exception
