pytest>=6.2.0
pytest-cov>=3.0.0
pytest-mock>=3.6.1
pytest-logger>=0.5.1
cmake>=3.14.0
black>=19.3b0
docformatter>=1.4
codecov>=2.1.12
cython>=0.29.28
sphinx>=4.3.1
numpy>=1.21.0
scipy>=1.6.0
pandas>=1.2.1
retworkx>=0.10.2
matplotlib>=3.3.3
