docutils==0.15.2
sphinx>=4.3.1
numba>=0.53.1
networkx>=2.5
numpy>=1.21
sphinx-autodoc-typehints>=1.10.3
sphinx-copybutton>=0.4
sphinx-automodapi>=0.13
sphinxcontrib-bibtex>=0.4.2
toml>=0.10.2
scipy>=1.6
retworkx>=0.10.2
matplotlib>=3.3.3
pandas>=1.2.1
graphviz>=0.19.1
